* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 308px 1fr;
  place-items: center;
}

.turn-teller {
  text-align: center;
  margin-bottom: 24px;
}

.turn-teller span {
  color: #69c1e4;
}

.board {
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 4px;
}

.square {
  background-color: white;
  display: grid;
  place-content: center;
}

.square div {
  border-radius: 8px;
  width: 80px;
  height: 80px;
}

/* only give unmarked squares clickable style */
.empty:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.animate {
  animation: square-click 0.2s ease-out 1;
}

@keyframes square-click {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
