* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 308px 1fr;
  place-items: center;
}

.turn-teller {
  visibility: hidden;
  text-align: center;
  margin-bottom: 24px;
}

.turn-teller span {
  color: #69c1e4;
}

.board {
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 4px;
}

.square {
  background-color: white;
  display: grid;
  place-content: center;
}

.square div {
  border-radius: 8px;
  width: 80px;
  height: 80px;
}

.empty {
  transition: all 0.3s;
}

/* only give unmarked squares clickable style */
.empty:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.animate {
  animation: square-click 0.2s ease-out 1;
}

@keyframes square-click {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

button {
  border-radius: 8px;
  color: white;
  outline: none;
  font-weight: bold;
  font-size: 18px;
  border: none;
  background-color: #202020;
  height: 50px;
  transition: background-color 0.3s, transform 0.075s;
}

button:hover {
  background-color: black;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

.button-row {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-auto-flow: column;
  gap: 8px;
}

#settings {
  background-color: white;
  width: 50px;
}

.button-row button:hover {
  background-color: black;
  cursor: pointer;
}

.cog {
  display: block;
  height: 50px;
  transition: all 0.3s;
  -webkit-filter: invert(10%); /* safari 6.0 - 9.0 */
  filter: invert(10%);
}

#settings:hover img {
  -webkit-filter: invert(0); /* safari 6.0 - 9.0 */
  filter: invert(0);
}

aside {
  display: none;
  place-content: center;
}

.player-options {
  display: grid;
  place-content: center;
  gap: 8px;
  height: 100%;
  transition: opacity 0.2s;
}

.invisible {
  opacity: 0;
}

.color-picker {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  gap: 8px;
}

.color-picker div {
  border-radius: 8px;
  transition: all 0.3s;
}

.color-picker div:hover {
  scale: 1.1;
  cursor: pointer;
}

.name-input {
  text-align: center;
  font-size: 32px;
  height: 48px;
  margin: auto;
  width: 256px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}

.name-input:focus {
  border-bottom: 3px solid black;
}

.name-input:focus::placeholder {
  color: transparent;
}

.name-input::placeholder {
  text-align: center;
  font-size: 32px;
}

.player-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  gap: 8px;
}

aside h1 {
  font-size: 32px;
  text-align: center;
  max-width: 300px;
}

.translate {
  animation: win-text-translate 0.8s cubic-bezier(0.2, 0.5, 0.6, 0.9);
}

.grow {
  animation: win-text-grow 0.8s cubic-bezier(0.81, 0.01, 0.74, 0.46);
}

@keyframes win-text-translate {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes win-text-grow {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}
